@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Prata&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-section {
    padding: 20px;
}

.image-container {
    height: 500px;
    background-image: url(https://scontent.fgoa5-2.fna.fbcdn.net/v/t1.6435-9/129037446_505347047521854_2419756188694399170_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=19026a&_nc_ohc=WdIBoooUmNQAX_bi3EK&_nc_ht=scontent.fgoa5-2.fna&oh=00_AfD7PBvRVyEGmTJXoN82aYc5Listjx2si_2HxSQntRv9nQ&oe=63A9BFDE);
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Prata', sans-serif;
    font-size: 64px;
    font-weight: 400;
}

h3 {
    font-family: 'Prata', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
}

h1, h3 {
    margin-bottom: 0;
}

a {
    font-weight: 600;
    font-family: 'italics';
    text-decoration: none;
    list-style-type: none;
    color: #689f38;
}

h6 {
padding: 22px;
margin-bottom: -1px;
margin-top: 56px;
color: white;
border-radius: 6px;
background: linear-gradient(73deg, #689f38, #d7101000);
}

ul {
  padding: 0; 
   list-style: none;
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 22px;
   border-bottom: 0, 5px;
   border-color: #dfdfdf;
}
